a {
  text-decoration: none !important;
}
.btn_body {
  width: 80px;
  height: 65px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 19px auto;
  color: #f9ebc8;
  transition: all 0.3s;
}
.btn_body.active {
  background-color: rgba(244, 187, 146, 1);
  color: #fff;
  transform: scale(1.08);
}
.btn_body:hover {
  color: #fff;
}
.title {
  margin: 4px auto;
  font-weight: 600;
  font-size: 12px;
}
